[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
mock = "*"
watchdog = "*"
pyyaml = "*"
argh = "*"
pytest = "*"
pytest-cov = "*"
flake8 = "*"

[packages]
netifaces = "*"
zeroconf-py2compat = "*"

[requires]
python_version = "2.7"
